<div class="card border-0" style="width: 18rem;">
<div class="div d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75 align-items-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBENdA9DG2X36I--mf6WdOuymozgcHQ0m5-w&usqp=CAU" alt="Ruby Commey no videoclipe de Deutschland da banda Rammnstein">
</div>

<div class="card-body ">
    <h5 class="card-title text-center text-monospace">{{nome}}</h5>
    <p class="card-text text-center text-monospace">Atriz alemã graduada na Universidade das Artes em Berlim .</p>

    <a href="https://www.instagram.com/ruby_woo00/?hl=pt-br" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Instagram</a>
    <a href="https://ahoi.agency/talent/rubycommey/" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Agency site</a>

  </div>
</div>